# Maven exclusions
target/

# Gradle exclusions
.gradle/
build/

# IntelliJ exclusions
/.idea/
*.iml

# Eclipse exclusions
.settings/
.classpath/

# NetBeans exclusions
nb-configurations.xml
nbactions.xml
